/* You can add global styles to this file, and also import other style files */
body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-width: 100%;
  overflow-x: hidden;
}
.navbar {
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.navbar li a,
.navbar .navbar-brand {
  color: white !important;
}
.body-bg {
  background-image: url('assets/Azo1nLy.jpg'),
    linear-gradient(white, grey, black);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.ng5-slider .ng5-slider-tick-legend {
  max-width: 70px !important;
}
hr {
  height: 2px;
}
.rowEnd {
  border-bottom: 3px solid #000;
  margin-bottom: 10px;
}
.nav-pills.tab a {
  cursor: pointer;
}
.ux-app-input {
  opacity: 0.8;
  filter: alpha(opacity=50);
}
:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.ux-app-card {
  opacity: 0.8;
  filter: alpha(opacity=50);
}
.ux-app-card-focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948;
  /* green */
}
.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
#myModal {
  margin: 15vh auto 0px auto;
}

.ng5-slider .ng5-slider-pointer{
  background-color: lightgray !important
}

.marked-slider .ng5-slider-pointer{
  background-color: #0db9f0 !important
}

